{% load static %}

<!DOCTYPE html>
<html lang="es">
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
<head>
    <title>Instrumentos</title>
</head>    
<body>
    {% for articulo in articulos %}
        <h1>{{articulo.nombre}}</h1>
        <h2>{{articulo.codigo}} -<i>{{articulo.fecha}}</i></h2>
        <figure><img src="{{articulo.imagen}}" width="450" height="275"/></figure>
        <br>
    {% endfor %}
</body>
</html>