body{
    background-color: lightcyan;
}

h1{
    color: orange;
    font-family: Helvetica;
    font-size: xx-large;
}

h2{
    color: gray;
    font-family: sans-serif;
    font-size: large;
}